<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
		<property name="servers" value="${memcache.servers}"/>
	    <property name="protocol" value="${memcache.protocol}"/>
	    <property name="transcoder">
	      <bean class="net.spy.memcached.transcoders.SerializingTranscoder">
	        <property name="compressionThreshold" value="${memcache.compressionThreshold}"/>
	      </bean>
	    </property>
	    <property name="opTimeout" value="${memcache.opTimeout}"/>
	    <property name="timeoutExceptionThreshold" value="${memcache.timeoutExceptionThreshold}"/>
	    <property name="locatorType" value="${memcache.locatorType}"/> 
	    <property name="failureMode" value="${memcache.failureMode}"/>
	    <property name="useNagleAlgorithm" value="${memcache.useNagleAlgorithm}"/>
    </bean>
</beans>