<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/view/style/main.css" />
<style type="text/css">
 #logo {float:left}
 #header {float:right}
</style>
<script type="text/javascript" src="/view/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
$(function($) {
	$.post("http://www.onlinever.com/gateway/getSession.htm", "{ key: 'user' }",
			   function(data){
			     if(data.statusCode!=200){
			    	 
			     }else{
			    	 $("login").hidden();
			    	 alert($("login").html());
			     }
		 });
	$("#dologin").click(function(){
		var userName = $("#userName").val();
		var password = $("#password").val();
		$.post("http://www.onlinever.com/gateway/login.htm", {"userName":userName,"password":password},
				function(data){
			alert(data.msg);
		});
	});
});
</script>
</head>
<body>
<div id="login">
	<input type="text" id="userName" /><br>
	<input type="password" id="password"><br>
	<input type="button" id="dologin"/>
</div>
<div id="logon"></div>
</body>
</html>
