<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>register</title>
</head>
<body>
<form action="">
用  户 名：<input type="text"/><br />
邮       箱：<input type="text"/> <input type="button" value="send" /><input type="text" width="20px"/><br />
密       码：<input type="password"/><br />
确认密码：<input type="text"/><br />
手  机  号：<input type="text"/><br />
================================<br>
真实姓名：<input type="text"><br>
性       别：<input name="sex" type="radio" value="男" />男<input name="sex" type="radio" value="女" />女<br>
生       日：<input type="date" /><br>
所在城市：<select id="province"><option value="请选择省" /></select>
		 <select id="city"><option value="请选择市" /></select>
		 <select id="cityregion"><option value="请选择区/县" /></select>
</form>
</body>
</html>