<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	#if(${pageTitle})
	<title>齐家收银台  - ${pageTitle} - 齐家网</title>
	#else
		#if(${navName})
		<title>齐家收银台 - ${navName} - 齐家网</title>
		#else
		<title>齐家收银台 - 齐家网</title>
		#end
	#end
</head>
<body>
	#parse("element/header.vm")
  <div class="wrap">
  <div class="col_wrap">
    <div class="col_main">
        <div class="main_inner">
			$screen_content 
		</div>
	</div>
  </div>
	#parse("element/footer.vm")
 </div>
</body>  
</html> 