<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlinever.usercenter.dao.UserMapper" >
  <resultMap id="UserResultMap" type="com.onlinever.usercenter.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="pay_password" property="payPassword" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile_status" property="mobileStatus" jdbcType="TINYINT" />
    <result column="email_status" property="emailStatus" jdbcType="TINYINT" />
    <result column="mobile_verify_code" property="mobileVerifyCode" jdbcType="VARCHAR" />
    <result column="email_verify_code" property="emailVerifyCode" jdbcType="VARCHAR" />
    <result column="register_ip" property="registerIp" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="cityRegion_id" property="cityregionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login_name, password, pay_password, mobile, email, mobile_status, email_status, 
    mobile_verify_code, email_verify_code, register_ip, register_time, last_login_time, 
    last_login_ip, last_modify_time, gender, real_name, birthday, is_active, cityRegion_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="UserResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.onlinever.usercenter.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (login_name, password, pay_password, 
      mobile, email, mobile_status, 
      email_status, mobile_verify_code, email_verify_code, 
      register_ip, register_time, last_login_time, 
      last_login_ip, last_modify_time, gender, 
      real_name, birthday, is_active, 
      cityRegion_id)
    values (#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{payPassword,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobileStatus,jdbcType=TINYINT}, 
      #{emailStatus,jdbcType=TINYINT}, #{mobileVerifyCode,jdbcType=VARCHAR}, #{emailVerifyCode,jdbcType=VARCHAR}, 
      #{registerIp,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{lastLoginIp,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{gender,jdbcType=TINYINT}, 
      #{realName,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{isActive,jdbcType=TINYINT}, 
      #{cityregionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.onlinever.usercenter.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="payPassword != null" >
        pay_password,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobileStatus != null" >
        mobile_status,
      </if>
      <if test="emailStatus != null" >
        email_status,
      </if>
      <if test="mobileVerifyCode != null" >
        mobile_verify_code,
      </if>
      <if test="emailVerifyCode != null" >
        email_verify_code,
      </if>
      <if test="registerIp != null" >
        register_ip,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="cityregionId != null" >
        cityRegion_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null" >
        #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobileStatus != null" >
        #{mobileStatus,jdbcType=TINYINT},
      </if>
      <if test="emailStatus != null" >
        #{emailStatus,jdbcType=TINYINT},
      </if>
      <if test="mobileVerifyCode != null" >
        #{mobileVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="emailVerifyCode != null" >
        #{emailVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null" >
        #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="cityregionId != null" >
        #{cityregionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlinever.usercenter.model.User" >
    update user
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobileStatus != null" >
        mobile_status = #{mobileStatus,jdbcType=TINYINT},
      </if>
      <if test="emailStatus != null" >
        email_status = #{emailStatus,jdbcType=TINYINT},
      </if>
      <if test="mobileVerifyCode != null" >
        mobile_verify_code = #{mobileVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="emailVerifyCode != null" >
        email_verify_code = #{emailVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null" >
        register_ip = #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="cityregionId != null" >
        cityRegion_id = #{cityregionId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlinever.usercenter.model.User" >
    update user
    set login_name = #{loginName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile_status = #{mobileStatus,jdbcType=TINYINT},
      email_status = #{emailStatus,jdbcType=TINYINT},
      mobile_verify_code = #{mobileVerifyCode,jdbcType=VARCHAR},
      email_verify_code = #{emailVerifyCode,jdbcType=VARCHAR},
      register_ip = #{registerIp,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      gender = #{gender,jdbcType=TINYINT},
      real_name = #{realName,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=TINYINT},
      cityRegion_id = #{cityregionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 用户是否已存在 -->
  <select id="getUserIsExists" parameterType="com.onlinever.usercenter.model.User" resultType="int">
  	SELECT
		IF(COUNT(1) = 0,0,id) 'id'
	FROM
		`user` 
	<trim prefix="WHERE" prefixOverrides="AND |OR " >
		<if test="loginName != null">
			login_name = #{loginName}
		</if>
		<if test=" mobile != null">
			OR mobile = #{mobile}
		</if>
		<if test="email != null">
			OR email = #{email}
		</if>
	</trim>
	limit 1
  </select>
  <!-- 登录 -->
  <select id="getUserByPword" parameterType="com.onlinever.usercenter.model.User" resultMap="UserResultMap">
  	select 
    <include refid="Base_Column_List" />
    from `user` 
    where id = #{id} 
    AND password = #{password}
  </select>
</mapper>